body{
    margin: 0;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #333;
}
ul{
    margin-bottom: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
header,.call-to-action{
    background-color:  #f59a00;
    color: #fff;
    text-align: center;
    padding-top: 64px;
}
header h1,p,a{
    margin:0 auto;
}
a{
    text-decoration: none;
    background-color:#fff;
    color: #f59a00;
    display: block;
    width: 140px;
    line-height: 44px;
    margin: 40px auto 48px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    &:hover{
      opacity: .7;
    }
}
header img{
    width: 280px;
    vertical-align: bottom;
}
// features section
.features{
    > h1{
        font-size: 40px;
        letter-spacing: 10px;
        text-align: center;
        padding: 64px 0;
    }
    .container{
        margin: 0 64px;
        section{
            padding-bottom: 64px;
            text-align: center;
        }
        h1{
             font-size: 30px;
        }
        p{
            font-size: 20px;
            line-height: 1.8;
        }
    }
    img{
        width: 100%;
    }
}
// members section
.members{
    background-color: #f2f2f3;
    text-align: center;
    vertical-align: bottom;
    >h1{
        text-align: center;
        padding: 64px 0;
        font-weight: normal;
        font-size: 30px;
    }
    li{
        padding-bottom: 64px;
        img{
            width: 160px;
            border-radius: 50%;
        }
        p{
            font-size: 20px;
            padding: 0 20px;
        }
    }
}
// call to action section
.call-to-action{
    height: 300px;
    h1{
        font-size: 30px;
    }
}
// footer
footer{
    padding: 64px 0;
    text-align: center;
    background-color: #323135;
    color: #98969c;
}
// responsive
@media (min-width:900px){
    header{
        .container{
            display: flex;
            width: 800px;
            margin: 0 auto;
            justify-content: space-around;
            .info{
              align-self: center;   
            }   
        }
    }
// features section
        .features .container{
             width: 800px;
             margin: 0 auto;
                 section{
                   display: flex;
                   justify-content: space-around;  
                   .info{
                       h1{
                           margin-top:10px;
                           margin-bottom: 10px;
                       }
                       p{
                           padding-right: 20px;
                       }
                   }
                 }
                 .section-2{
                    display: flex;
                    justify-content: space-around;
                    flex-direction: row-reverse; 
                 }
             }   
// members
     .members ul {
         width: 800px;
         display: flex;
         margin: 0 auto;
         justify-content: space-around;
     }
}